body {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #64646b;
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  text-align: center;     
  
  background-color: rgb(175, 175, 175);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.container input {
  margin-bottom: 15px;
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d6d6d6;
}

.container button {
  padding: 10px 20px;
  cursor: pointer;
}